@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(255, 255, 255);
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

:root {
    font-size: 16px; /* Define o tamanho de fonte base para 1rem */
}

.icon {
    margin: 2rem 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icon svg path {
    display: flex;
    width: 1.25rem; /* 20px convertidos para rem */
    height: 1.25rem; /* 20px convertidos para rem */
}

.login {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem; /* 32px convertidos para rem */
    margin: 9.8125rem; /* 157px convertidos para rem */
    color: rgb(51, 49, 49);
    letter-spacing: 0.0625rem; /* 1px convertido para rem */
    flex-direction: column;
}

.box input {
    width: 20rem; /* 320px convertidos para rem */
    height: 3.25rem; /* 52px convertidos para rem */
    justify-content: center;
    display: flex;
    margin: 1.6875rem 0; /* 27px convertidos para rem */
    font-size: 1.03125rem; /* 16.5px convertidos para rem */
    padding-left: 1.25rem; /* 20px convertidos para rem */
    border-radius: 0.1875rem; /* 3px convertidos para rem */
    outline: none;
    border: solid #ccc 0.04375rem; /* 0.7px convertidos para rem */
}

.next-button button {
    width: 20rem; /* 320px convertidos para rem */
    height: 3.25rem; /* 52px convertidos para rem */
    background-color: rgb(9, 158, 131);
    color: aliceblue;
    outline: none;
    border-radius: 0.1875rem; /* 3px convertidos para rem */
    border: none;
    font-size: 1.0875rem; /* 17.4px convertidos para rem */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button button:hover {
    background-color: rgb(7, 128, 107);}

.account{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin: 1.3rem;
    letter-spacing: 0.005rem;
}

.account p:nth-child(2){
color: rgb(9, 158, 131);
}

.horizontal-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
    width: 20rem;
  }
  
  .line {
    flex: 1;
    height: 0.02rem;
    background-color: rgb(161, 154, 154);
  }
  
  .or {
    font-size: small;
    color: black;
    background-color: white;
    padding: 0 0.5rem;
  }


  
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: medium;
    letter-spacing: normal;
    
  }
  
  .login-option {
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.1875rem;
    width: 20rem; 
    height: 3.25rem;   
  }
  
.login-option-container {
  gap: 20px;
  display: flex;
}

  .login-option img {
    width: 1.2rem;
    height: 1.25rem;
  }
  
  footer{
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: rgb(9, 158, 131);
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }








  